html { 
  font-family: 'Montserrat', sans-serif;

}

body {
  margin: 0;
  padding: 0
}


.gray-div {
  background-color:gainsboro;
  margin-top: 0%;
  margin-left: 200px;
  margin-right: 200px;
  padding: 25px;
}


.table-of-contents {
  margin-bottom: 40px;
  padding: 10px;
  border: 2px solid black;
}

.table-of-contents .toc-heading{
  font-size: 20px;
  font-weight: bold;
  color:black;
}

.table-of-contents a {
  text-decoration: none;
  color: black;
}

.table-of-contents ul{
  list-style: none;
  padding-left: 0;
}

.table-of-contents .heading{
  font-size: 14px;
  font-weight: bold;
  color: black;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {
    width: 100%;
    padding: 0;
  }
}